Learn.txt
backend/node_modules
frontend/node_modules
.env
node_modules/
.DS_Store
dist/infra/.terraform/
infra/.terraform.lock.hcl
infra/terraform.tfstate
infra/terraform.tfstate.backup
task-definition.json
.terraform/
